*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.body{
    width: 100vw;
    font-family: "sans-serif";
}

.title{
    background-color: #EDF0C4;
    text-align: center;
    font-size: 5vh;
    padding: 2%;
    position: relative;
    font-family: "sans-serif";
}

.price_gasoline{
    background-color: #FFE9E9;
    text-align: center;
    font-size: 3vh;
    padding: 1.5%;
    line-height: 200%;
    font-family: "sans-serif";
}

.price_gasoline_title{
    font-size: 4vh;
}

.search{
    background-color: #FFF7E2;
    position : relative;
}

.search_title{
    
    text-align: center;
    font-size: 4vh;
    padding: 4vh;
    font-family: "sans-serif";
}
